<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../static/common/css/common.css"/>
    <script src="../static/common/js/sea.js"></script>
</head>
<body>
<style>
    .top{text-align: center; position: relative; margin: 1.5rem 0 2.5rem}
    .photo{width: 87px; height: 87px; border-radius: 50%; margin: 0 auto;}
    ul{padding-left: 1rem;background: #fff}
    .info{margin-bottom: 0.6rem}
    .info li:nth-child(5){border: none}
    .last {border: none}
    li{border-bottom: 1px solid #f2f4f7; font-size: 1rem; padding: 1rem 0;}
    .left{display: inline-block; margin-right: 2.2rem; color: #9A9A9A}
    .right{display: inline-block;color: #333333;}
</style>
<div class="page">
    <div class="content">
        <!--产品部-->
        <div class="top">
            <div class="photo">
                <img src="../static/common/img/user_icon.png" alt="">
            </div>
        </div>
        <!--个人信息-->
        <ul class="info">
            <li>
                <span class="left">姓名</span>
                <span class="right"></span>
            </li>
            <li>
                <span class="left">性别</span>
                <span class="right"></span>
            </li>
            <li>
                <span class="left">部门</span>
                <span class="right"></span>
            </li>
            <li>
                <span class="left">职位</span>
                <span class="right"></span>
            </li>
            <li>
                <span class="left">生日</span>
                <span class="right"></span>
            </li>
        </ul>
        <ul class="other_info">
            <li>
                <span class="left">手机</span>
                <span class="right"></span>
            </li>
            <li>
                <span class="left">邮箱</span>
                <span class="right"></span>
            </li>
            <li class="last">
                <span class="left">入职</span>
                <span class="right"></span>
            </li>
        </ul>


    </div>
</div>
<script>
    seajs.use('profile',function(index){
        index.init();
    });
</script>
</body>
</html>